library/
local/
cellar/
lock/
.snakemake/
staging/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
raw/
store_*/
!store_*/meta/
large_files/
.nextflow/
.nextflow.log*
work/
picrust2_tmp/
prototype.R
.future/
*.out
analysis/*_cache/
_targets/
_targets_r/
targets/
_targets/
_targets_r/
.vscode/
.ipynb_checkpoints/
hmp_metadata
*.log
sequence-*.qza
